* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

img {
	border: 0;
	width: 100%;
	height: auto;
	vertical-align: middle;
	transition:all .2s ease-in-out;
}

body {
	overflow-x: hidden;
	font-family: $font-theme;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 400;
}

a {
	color: $color-theme;
	text-decoration: none;
}

nav {
	list-style-type: none;
	display: inline;
}

header {
	display: block;
}

button {
	outline: 0;
	border: 3px;
	cursor: pointer;
	font-size: 1rem;
	background: transparent;
	transition: all .2s ease-in-out;
}

hr {
	border: 1px solid currentColor;
	width: 100%;
	display: block;
}

blockquote {
	background-color: rgba(151, 178, 232, 0.27);
	padding: 15px;
}

footer {
	width: 100%;
	clear: both;
	padding: 10px 0;
	position: relative;
}

ol {
	display: block;
}

.full {
	width: 100%;
	height: 100vh;
	display: block;
}

.hidden {
	display: none;
	visibility: hidden;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.center-block {
	margin-right: auto!important;
	margin-left: auto!important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.flex {
	display: flex;
	&-column {
		flex-direction: column;
	}
	&-row {
		flex-direction: row;
	}
	&-center {
		justify-content: center;
	}
	&-left {
		justify-content: flex-start;
	}
	&-right {
		justify-content: flex-end;
	}
	&-top {
		align-items: flex-start;
	}
	&-middle {
		align-items: center;
	}
	&-bottom {
		align-items: flex-end;
	}
}

.top-buffer {
	padding-top: 50px;
}

.transparent {
	background: transparent!important;
}

.overlay {
	overflow: hidden;
	height: 100%;
}

.fixed {
	position: fixed!important;
}

.bottom {
	bottom: 0!important;
}