@mixin make-body($body-bg, $body-font-size) {
	background-color: $body-bg;
	font-size: $body-font-size;

	@if (lightness($body-bg) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin make-navbar($navbar-bg) {
	width: 100%;
	display: block;
	height: $navbar-height;
	position: $navbar-position;
	line-height: $navbar-height;
	background-color: $navbar-bg;

	@if (lightness($navbar-bg) < 30) {
  		color: $text-white;
		
		.icon-bar {
  			background-color: $text-white;
  		}

	} @else {
  		color: $text-dark;

		.drawer:hover,
		.nav-menu li:hover {
  				background-color: rgba(0,0,0,0.1);
  			}

  		.icon-bar {
  			background-color: $text-dark;
  		}
	}
}

@mixin make-header($header-bg, $header-height:100vh) {
	background-color: $header-bg;

	@if ($header-height > 2vh) and ($header-height < 100vh) {
		padding: ($header-height/2) 0;
	}

	@if ($navbar-position == fixed) {
  		padding-top: (42vh-$navbar-height);
		margin-top: $navbar-height;	
	} @else {
		height: ($header-height)-($navbar-height);
  		padding-top: (42vh-$navbar-height);
	}

	@if (lightness($header-bg) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin make-bg($name, $color) {
	.bg-#{$name} {
		background-color: $color;

		& a {
			color: inherit;
		}
	}

	@if (lightness($color) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin make-section($section-bg) {
	background-color: $section-bg;
	padding: 50px 0;
	display: block;

	@if (lightness($section-bg) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin make-button($name, $bg, $color: white) {
	.btn-#{$name} {
		background-color: $bg;
		border-color: darken($bg, 15%);
		color: $color;

		&:hover {
			margin-top: 13px;
			border-width: 0;
		}
	}
}

@mixin make-layout($layout-type, $row-layout:20% 60% 20%, $col-gap:10px, $row-gap: 10px) {
	.grid {
	  display: grid;
	  height: 400px;
	  grid-template-columns: auto;
	  grid-template-rows: 20% 60% 20%;
	  grid-column-gap: $col-gap;
	  grid-row-gap: $row-gap;
	  grid-template-areas: $layout-type; 
	}

	@if $layout-type == $landing-page {
		.grid-aside {
			display: none;
		}
	}

	@if $layout-type == $two-sidebars {
		.grid {
			grid-template-rows: 20% 60% 20%;
		}
	}

	@if $layout-type == $two-sidebars-right {
		.grid {
			grid-template-rows: 60% 20% 20%;
		}
	}

	@if $layout-type == $two-sidebars-left {
		.grid {
			grid-template-rows: 20% 20% 60%;
		}
	}

	@supports not (display: grid) {
	    .grid {
	      display: none!important;
	    }
	}

}

@mixin make-margin($direction, $margin) {
	.m-#{$direction}-#{$margin} {
		margin-#{$direction}: #{$margin}px;
	}
}

@mixin make-padding($direction, $padding) {
	.p-#{$direction}-#{$padding} {
		padding-#{$direction}: #{$padding}px;
	}
}

@mixin make-width($width, $unit:vw) {
	.w-#{$width} {
		width: #{$width}$unit;
	}
}

@mixin make-height($height, $unit:vh) {
	.h-#{$height} {
		height: #{$height}$unit;
	}
}