@import "variables";

@import "base";
@import "mixins";
@import "modules/grid";
@import "modules/tabs";
@import "modules/typo";
@import "modules/forms";
@import "modules/modal";
@import "modules/slick";
@import "modules/navbar";
@import "modules/player";
@import "modules/buttons";
@import "modules/jplayer";
@import "modules/lightbox";
@import "modules/carousel";
@import "modules/animations";
@import "modules/slick-theme";
@import "modules/responsiveness";
@import "modules/font-awesome/style";

body {
  overflow-x: hidden;
}

header {
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 4;
  max-height: 300px;

  @media (max-width: $tablet) {
    max-height: 100vh;
  }

  img {
    width: auto;
  }

  & > .container {
    display: flex;
    flex-direction: row;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  #logo {
    @media (max-width: $tablet) {
      margin: 0 auto;
      padding: 30px 0;
    }
  }

  #cta-player-mobile {
    display: none;
    
    @media (max-width: $tablet) {
      align-self: center;
      display: flex!important;
      margin-bottom: 30px;
    }
  }

  #ouvinte-terramar {
    display: none;
    overflow: hidden;

    img {
      margin-bottom: 30px;
      max-height: 300px;
    }

    #slider-wrapper {
      top: 341px;
      left: 280px;
      height: 420px;
      position: relative;

      @-moz-document url-prefix() {
        top: 485px;
      }

      .slick-dots {
        top: 70%!important;
        width: auto;
      }

      .slick-dots li.slick-active button:before,
      .slick-dots li button:before {
        color: $purple!important;
        font-size: 17px!important;
      }

      .slick-next,
      .slick-prev {
        display: none!important;
      }

    }

    #cta-player {
      margin-top: 360px;
      align-self: flex-end;
      position: relative;
      width: 39%;
      z-index: 10;

      label {
        cursor: pointer;
      }
    }

    @media (min-width: $tablet + 1) {
      background:  url(../img/header-ouvinte-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      min-width: 1200px;
      z-index: 5;
      margin-left: -13vw;
      max-height: 420px;
    }

    @media (min-width: 1920px) {
      margin-left: -9vw;
    }
  }
}

#top-5 {
  background: url(../img/top5-bg.png);
  background-size: cover;
  margin-top: -120px;
  padding-top: 220px!important;
  padding-bottom: 70px!important;
  position: relative;
  z-index: 3;
  @include make-section(transparent);

  h2 {
    color: $yellow;
    font-style: italic;
    text-align: right;
    font-weight: 300;
    font-size: 30px;
    
    b {
      font-family: 'Montserrat';
      font-size: 35px;
      font-weight: normal;
    }
  }

  h3 {
    color: $amethyst;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  h4 {
    color: $pink;
    font-weight: 300;
    text-transform: uppercase;
  }

  .card-musica-top5 {
    background-color: $yellow;
    display: flex;
    flex-direction: row;

    &-info {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      justify-content: center;
      max-width: 40%;
    }

    &-play {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px;
      
      img {
        cursor: pointer;
      }
    }
  }

  #video-da-semana {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 100%;

    #video {
      align-items: center;
      background: url(../img/video-thumb.png);
      background-size: cover;
      background-repeat: no-repeat;
      color: $yellow;
      display: flex;
      font-size: 6rem;
      justify-content: center;
      margin: 30px auto;
      padding: 30px 10px;
      width: 100%;

      @media (min-width: $tablet) {
        min-height: 300px;
      }
    }

    img {
      width: auto;
    }

    #cta-app {
      display: flex;
      flex-direction: column;

      #android-logo {
        max-width: 150px;
        max-height: 61px;
        margin: 10px auto;
      }
    }

    @media (max-width: $tablet) {
      margin-top: 50px;
    }
  }
}

#noticias {
  background: url(../img/noticias-bg.png);
  position: relative;
  margin-top: -40px;
  z-index: 2;
  @include make-section(transparent);

  h2 {
    color: $purple;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;

    b {
      font-family: 'Montserrat';
    }
  }

  h3, h4 {
    color: white;
    font-style: italic;
    font-weight: 400;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  h4 {
    font-size: 16px;
  }

  .card-noticia {
    &-info {
      background-color: $purple;
      padding: 10px 5px;
      text-align: center;
      width: 100%;
    }

    @media (max-width: $tablet) {
      margin: 15px 0;
    }
  }

  @media (max-width: $tablet) {
    margin-top: -70px;
  }
}

#publicidade-container {
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  margin-top: 30px;
  padding: 30px;
  width: 100%;
}

.publicidade {
  background: white;
  height: 88px;
  width: 100%;

  @media (min-width: $tablet + 1) {
    width: 600px;
  }
}

#midia {
  background: url(../img/promocoes-bg.png);
  @include make-section(white);

  h2 {
    color: $yellow;
    text-align: center;
    margin-bottom: 15px;
    
    span {
      color: $purple;
    }

    img {
      display: block;
      margin: -20px auto 0;
      width: auto;
    }
  }

  h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: -50px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 4px #000;

    @media (max-width: $tablet) {
      margin-top: -80px;
    }
  }

  .card-promocao,
  .card-foto,
  .card-video {
    padding: 15px 25px;

    label {
      i {
        position: absolute;
        color: $yellow;
        font-size: 6rem;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    @media (min-width: $tablet + 1) {
      img {
        max-height: 278px;
      }
    }
  }

  .slick-dots {
    display: flex!important;
    flex-direction: column!important;
    top: 30%!important;
    width: auto;

    @media (max-width: $tablet) {
      top: 40%!important;
    }
  }

  .slick-dots li.slick-active button:before,
  .slick-dots li button:before {
    color: $purple!important;
    font-size: 17px!important;
  }

  .slick-next,
  .slick-prev {
    display: none!important;
  }

}

#historia,
#equipe,
#programacao,
#pagina-contato,
#pagina-noticias,
#pagina-videos,
#pagina-fotos,
#pagina-promocoes {
  background-image: url(../img/internas-bg.jpg);
  background-color: $yellow;
  padding: 100px 0;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }
}

#titulo-interna {
  color: $blue;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  
  b {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: normal;
  }
}

#pagina-contato {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background: transparent;
    border: 1px solid $red;
    color: $blue;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;

    &::-webkit-input-placeholder {
      color: $blue;
    }

    &::-moz-placeholder {
      color: $blue;
    }

    &:-ms-input-placeholder {
      color: $blue;
    }

    &:-moz-placeholder {
      color: $blue;
    }
  }

  textarea {
    min-height: 150px;
  }

  #info-contato {
    color: $blue;
    text-align: center;

    b {
      display: block;
    }
  }
}

#pagina-noticias {
  .card-noticia {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 30px 0;
    width: 100%;

    &-thumb {
      border-radius: 3px;
      box-shadow: $outset-shadow;
      height: 100%;
      max-height: 200px;
      overflow: hidden;
      width: 30%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      
      h2,h3 {
        color: $blue
      }

      h2 {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
      }

      h3 {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}

.noticia {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  &-header {
    display: flex;
    flex-direction: row;
    margin: 20px 0;

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }
  
  &-social-share {
    display: flex;
    flex-direction: column;
    align-items: center;

     #facebook-share {
      color: #5864A3;
    }
    
    #twitter-share {
      color: #73C7FA;
    }
    
    #gplus-share {
      color: #D56449;
    }

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &-titulo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-left: 30px;

    h2 {
      color: rgba($color: #000000, $alpha: .8);
      font-size: 2rem;
    }
    
    &-info {
      display: flex;
      color: rgba($color: #000000, $alpha: .6);
      flex-direction: row;
      flex-wrap: wrap;
      font-size: .8rem;

      span {
        padding: 0 5px;
      }
    }

    @media (max-width: $tablet) {
      padding-left: 0;
    }
  }

  &-footer {
    iframe {
      width: 80vw!important;
    }
  }
}

.noticia-publicidade {
  align-items: center;
  background: $blue;
  display: flex;
  color: white;
  height: 300px;
  justify-content: center;
  width: 100%;
}

.tabela-programacao {
  .linha {
    background: #FE0050;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 15px;

    i {
      color: $yellow;
      padding: 0 10px;
      font-size: 1.8rem;
    }

    &:nth-child(even) {
      background: #BD003E;
    }
  }
}

#pagina-videos {
  .card-video {
    width: 100%;

    label {
      i {
        position: absolute;
        color: $yellow;
        font-size: 6rem;
      }
    }

    @media (max-width: $tablet) {
      margin: 20px 0;
    }

    @media (min-width: $tablet + 1) {
      min-height: 250px;
    }
  }
}

#equipe {
  .card-colaborador {
    width: 100%;

    &-redes-sociais {
      display: flex;
      justify-content: center;
      margin-top: -50px;

      .fa-circle {
        color: white;
      }
    }
  }
}

#pagina-promocoes {
  .card-promocao {
    padding: 15px 10px;
    width: 100%;

    iframe {
      min-width: 250px;
      min-height: 278px;
    }

    h3 {
      color: white;
      font-size: 1.1rem;
      font-weight: 300;
      margin-top: -50px;
      padding: 10px;
      text-align: center;

      @media (max-width: $tablet) {
        margin-top: -80px;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    @media (min-width: $tablet + 1) {
      img {
        max-height: 278px;
      }
    }
  }
}

#page-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center;

  a {
    background: white;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding: 10px;
    
    &:first-child {
      border-left: 1px solid #e8e8e8;
      border-radius: 5px 0 0 5px;
    }
    
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }

  .active_page {
    background: #f0f6ff;
  }
}

#contato-wrapper {
  @include make-section($purple);
  display: block;
  padding: 0!important;
}

#contato {
  background: url(../img/footer-bg.jpg);
  padding: 30px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h3 {
    color: $purple;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;

    b {
      font-family: 'Montserrat';
    }
  }

  #peca-sua-musica {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    form {
      width: 100%;
    }
  }

  #peca-musica {

    input {
      background: $amethyst;
      border: none;
      border-radius: 3px;
      color: white;
      margin: 5px 0;

      &::-webkit-input-placeholder {
        color: white;
      }

      &::-moz-placeholder {
        color: white;
      }

      &:-ms-input-placeholder {
        color: white;
      }

      &:-moz-placeholder {
        color: white;
      }
    }

    input[type="submit"] {
      padding: 15px;
    }
  }
}

#aovivo-interna {
  background: $blue;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    border-left: 0 solid transparent;
    border-right: 800px solid transparent;
    border-top: 130px solid $yellow;
  }

  #logo {
    height: 107px;
    margin: 0 auto 50px;
    padding-top: 30px;
    position: relative;
    width: 245px;
    z-index: 3;
  }

  #player-aovivo {
    margin: 30px auto;
    width: 100%;
  
    &-video {
      align-items: center;
      background: #222;
      display: flex;
      justify-content: center;
      min-height: 300px;
      width: 100%;

      i {
        color: $yellow;
        cursor: pointer;
        font-size: 70px;
      }
    }
  }
}

footer {
  background-color: $yellow;

  ul li {
    display: inline;
    padding: 5px 10px;
  }

  #submenu-container {
    display: none;
  }

  img {
    width: auto;
    margin: 0 auto;
  }

  .row {
    justify-content: space-between;
  }

  #logo-footer {
    img {
      margin: 0 auto;
      width: 100%;
    }
  }

  #terramar-info {
    color: $blue;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;

    span {
      display: block;
    }
  }
}

// BUTTONS
// ----------------------

@include make-button(default,$color-theme);
@include make-button(purple,$purple);
@include make-button(blue,$blue);
@include make-button(red,$red);
@include make-button(pink,$pink, $yellow);
@include make-button(yellow,$yellow, $purple);
@include make-button(white,$white, $purple);