footer
  .container
    .row.flex.flex-middle
      .col-5
        include menu.pug
      .col-2
        #logo-footer
          img(src="img/terramar-logo.png", alt="Rádio Terramar")
      .col-4
        #terramar-info
          span Rua Tal, 121 - Itamaraju - BA
          span Tel (73) 0000-0000
          span Contato: email@radioterramarfm.com.br
      .col-1
        #vmais-logo-footer
          img(src="img/logo-vmais-roxa.png", alt="Rádio Terramar")