header
  .container
    #logo
      img(src="img/terramar-logo.png", alt="Rádio Terramar")
    #trigger-menu
      .container
        h3.trigger-drawer MENU
        button.drawer
          span.icon-bar#bar1
          span.icon-bar#bar2
          span.icon-bar#bar3
        a(href="#")#cadastre-button
          button.btn.btn-blue Cadastre-se
        ul.drawer-menu.hide-drawer.animate.fadeIn
          a(href='#').btn-home.animate.fadeIn
            li Home
          a(href='#').btn-historia.animate.fadeIn
            li História
          a(href='#').btn-programacao.animate.fadeIn
            li Programação
          a(href='#').btn-equipe.animate.fadeIn
            li Equipe
          a(href='#').btn-noticias.animate.fadeIn
            li Notícias
          a(href='#').btn-fotos.animate.fadeIn
            li Fotos
          a(href='#').btn-videos.animate.fadeIn
            li Vídeos
          a(href='#').btn-promocoes.animate.fadeIn
            li Promoções
          a(href='#').btn-contato.animate.fadeIn
            li Contato
    #cta-player-mobile
        label(for="open-player")
          img(src="img/ouvir-agora.png", alt="")
        a(href="javascript:;" onclick="window.open('http://terramarfm.com.br/site/ao-vivo.html','Ao Vivo - Radio Terramar FM','STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, WIDTH=660, HEIGHT=500');")
          img(src="img/ver-ao-vivo.png", alt="")
    #ouvinte-terramar
      #slider-wrapper
        .header-slider
          div
            img(src="img/header-slide1.png", alt="")
          div
            img(src="img/header-slide2.png", alt="")
          div
            img(src="img/header-slide3.png", alt="")
      #cta-player.flex.flex-row.flex-bottom.animate.fadeIn
        label(for="open-player")
          img(src="img/ouvir-agora.png", alt="")
        a(href="javascript:;" onclick="window.open('http://terramarfm.com.br/site/ao-vivo.html','Ao Vivo - Radio Terramar FM','STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, WIDTH=660, HEIGHT=500');")
          img(src="img/ver-ao-vivo.png", alt="")
  include player