ul
  li
    a(href='#').btn-home Home
  li
    a(href='#').btn-historia História
  li
    a(href='#').btn-programacao Programação
  li
    a(href='#').btn-equipe Equipe
  li#submenu-container
    label#submenu-box(for="submenu-trigger") Mídias
    input#submenu-trigger(type="checkbox" hidden="")
    ul#submenu
      li
        a(href='#').btn-noticias Notícias
      li
        a(href='#').btn-fotos Fotos
      li
        a(href='#').btn-videos Vídeos
      li
        a(href='#').btn-promocoes Promoções
  li
    a(href='#').btn-contato Contato