.modal.modal-promocao
  input#modal-promocao.modal-open(type="checkbox" hidden="")
  .modal-wrap(aria-hidden="true" role="dialog")
    label.modal-overlay(for="modal-promocao")
    .modal-dialog
      label.btn-close(for="modal-promocao" aria-hidden="true") ×
      .modal-header
        h3.text-center Promoção Luan Santana
        h4.text-center válida até 30/03/2018
      .modal-body
        .modal-body-thumb
          img(src="https://placeimg.com/640/480/1", alt="")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 

        form(action="#")#form-promo-wrapper
          input(type="text", name="nome", placeholder="Seu Nome")
          input(type="email", name="email", placeholder="Email")
          input(type="tel", name="telefone", placeholder="Telefone")
          input(type="text", name="cidade", placeholder="Cidade/Estado")
          input(type="submit", value="Enviar").btn.btn-pink.right
      .modal-footer
        //- label.btn.btn-red.center-block(for="modal-promocao") Fechar promoção