input#open-player.player-open(type="checkbox" hidden="")
#player-wrapper.animate.fadeInDown
  .container#player
    #ouvintes.flex.flex-column
      include navbar
    #controls
      i.fa.fa-undo(aria-hiddren="true")
      i.fa.fa-thumbs-o-up(aria-hiddren="true")
      #play
        .cp-jplayer#jquery_jplayer_6
        .cp-container#cp_container_6
          .cp-buffer-holder
            .cp-buffer-1
            .cp-buffer-2
          .cp-progress-holder
            .cp-progress-1
            .cp-progress-2
          .cp-circle-control
          ul.cp-controls
            li
              a.cp-play(tabindex="1")
            li
              a.cp-pause(style="display:none;" tabindex="1")
      i.fa.fa-thumbs-o-down(aria-hiddren="true")
      i.fa.fa-share-alt(aria-hiddren="true")
    #locutora
      #nome
        h3 Flávia Costa
      #programa
        h4 Show da Manhã
    #foto-perfil
      img(src="img/flavia-costa.png", alt="")
    #horario
      h4 Horário
      h3 08:00 às 12:00
    label#btn-close-player(for="open-player" aria-hidden="true") ×
