.modal.modal-video
  input#modal-video-da-semana.modal-open(type="checkbox" hidden="")
  .modal-wrap(aria-hidden="true" role="dialog")
    label.modal-overlay(for="modal-video-da-semana")
    .modal-dialog
      label.btn-close(for="modal-video-da-semana" aria-hidden="true") ×
      .modal-header
        h3.text-center Vídeo da Semana
      .modal-body.row
        iframe(width="100%" height="100%" src="https://www.youtube.com/embed/oQjeFmKQCNw?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")