@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .2s ease-in-out; }

body {
  overflow-x: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400; }

a {
  color: #003d80;
  text-decoration: none; }

nav {
  list-style-type: none;
  display: inline; }

header {
  display: block; }

button {
  outline: 0;
  border: 3px;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  transition: all .2s ease-in-out; }

hr {
  border: 1px solid currentColor;
  width: 100%;
  display: block; }

blockquote {
  background-color: rgba(151, 178, 232, 0.27);
  padding: 15px; }

footer {
  width: 100%;
  clear: both;
  padding: 10px 0;
  position: relative; }

ol {
  display: block; }

.full {
  width: 100%;
  height: 100vh;
  display: block; }

.hidden {
  display: none;
  visibility: hidden; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.center-block {
  margin-right: auto !important;
  margin-left: auto !important; }

.right {
  float: right; }

.left {
  float: left; }

.flex {
  display: flex; }
  .flex-column {
    flex-direction: column; }
  .flex-row {
    flex-direction: row; }
  .flex-center {
    justify-content: center; }
  .flex-left {
    justify-content: flex-start; }
  .flex-right {
    justify-content: flex-end; }
  .flex-top {
    align-items: flex-start; }
  .flex-middle {
    align-items: center; }
  .flex-bottom {
    align-items: flex-end; }

.top-buffer {
  padding-top: 50px; }

.transparent {
  background: transparent !important; }

.overlay {
  overflow: hidden;
  height: 100%; }

.fixed {
  position: fixed !important; }

.bottom {
  bottom: 0 !important; }

.item {
  background-color: #252A34;
  color: #f9f9f9;
  padding: 10px; }
  @media (max-width: 960px) {
    .item {
      margin: 5px; } }

.container {
  width: 85vw;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  display: flex;
  margin: 10px 0; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.grid-header {
  grid-area: header; }

.grid-main {
  grid-area: main; }

.grid-side-left {
  grid-area: side-left; }

.grid-side-right {
  grid-area: side-right; }

.grid-footer {
  grid-area: footer; }

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-basis: 0;
  flex-grow: 1; }

.gutter {
  padding-left: 10px;
  padding-right: 10px; }
  .gutter:first-child {
    padding-left: 0; }
  .gutter:last-child {
    padding-right: 0; }

.no-gutter {
  padding: 0 !important; }

@media (min-width: 961px) {
  .col-1 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    padding-left: 5px;
    padding-right: 5px; }
    .col-1:first-child {
      padding-left: 0; }
    .col-1:last-child {
      padding-right: 0; }
  .col-2 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    padding-left: 5px;
    padding-right: 5px; }
    .col-2:first-child {
      padding-left: 0; }
    .col-2:last-child {
      padding-right: 0; }
  .col-3 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
    .col-3:first-child {
      padding-left: 0; }
    .col-3:last-child {
      padding-right: 0; }
  .col-4 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
    .col-4:first-child {
      padding-left: 0; }
    .col-4:last-child {
      padding-right: 0; }
  .col-5 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
    .col-5:first-child {
      padding-left: 0; }
    .col-5:last-child {
      padding-right: 0; }
  .col-6 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
    .col-6:first-child {
      padding-left: 0; }
    .col-6:last-child {
      padding-right: 0; }
  .col-7 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
    .col-7:first-child {
      padding-left: 0; }
    .col-7:last-child {
      padding-right: 0; }
  .col-8 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
    .col-8:first-child {
      padding-left: 0; }
    .col-8:last-child {
      padding-right: 0; }
  .col-9 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
    .col-9:first-child {
      padding-left: 0; }
    .col-9:last-child {
      padding-right: 0; }
  .col-10 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
    .col-10:first-child {
      padding-left: 0; }
    .col-10:last-child {
      padding-right: 0; }
  .col-11 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
    .col-11:first-child {
      padding-left: 0; }
    .col-11:last-child {
      padding-right: 0; }
  .col-12 {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
    .col-12:first-child {
      padding-left: 0; }
    .col-12:last-child {
      padding-right: 0; } }

.tab-group {
  align-items: center;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  color: #4CAF50;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 30px; }
  .tab-group .tab-item {
    border-right: 1px solid #4CAF50;
    list-style: none;
    text-align: center;
    width: 25%; }
    .tab-group .tab-item a {
      align-items: center;
      display: flex;
      color: #4CAF50;
      flex-direction: column;
      justify-content: center;
      padding: 10px; }
      .tab-group .tab-item a.active {
        background: #4CAF50;
        color: #f7f7f7; }
    .tab-group .tab-item i {
      display: block;
      font-size: 20px; }
    .tab-group .tab-item span {
      font-size: .9rem; }
    .tab-group .tab-item:last-child {
      border: none; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Days';
  src: url("fonts/Days.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-size: 1.1rem; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

em {
  background-color: #efefef;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 3px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat'; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 1.5rem; }

.uppercase {
  text-transform: uppercase; }

.red {
  color: #e74c3c; }

.green {
  color: #1D9F75; }

.blue {
  color: #003d80; }

.orange {
  color: #e67e22; }

.emerald {
  color: #2ecc71; }

.yellow {
  color: #fff600; }

.amethyst {
  color: #981898; }

.form {
  width: 100%;
  margin: 10px 0; }
  .form .field {
    margin: 10px 0; }
    .form .field label {
      color: #252A34;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
      font-weight: 400; }
    .form .field .helper-text {
      color: #252A34;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
      font-size: .7rem;
      padding-left: 3px; }

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
select {
  border: none;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  color: #252A34;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
  display: block;
  padding: 15px;
  transition: all .2s;
  width: 100%;
  -webkit-appearance: none; }
  input[type="email"]:invalid,
  input[type="password"]:invalid,
  input[type="text"]:invalid,
  input[type="tel"]:invalid,
  select:invalid {
    color: #e74c3c; }

textarea {
  border: none;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  color: #252A34;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
  min-height: 70px;
  padding: 15px;
  transition: all .2s;
  width: 100%; }

label[for^="modal"] {
  cursor: pointer; }

.modal .btn-close {
  color: #e74c3c;
  cursor: pointer;
  font-size: 3rem;
  line-height: 2.7rem;
  text-decoration: none;
  transition: all .2s; }
  .modal .btn-close:hover, .modal .btn-close:focus {
    color: #a82315; }
  @media (max-width: 480px) {
    .modal .btn-close {
      align-self: flex-end; } }

.modal-wrap:before {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: '';
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101; }

.modal-overlay {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102; }

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
  display: block; }

.modal-open:checked ~ .modal-wrap .modal-dialog {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%; }
  @media (max-width: 480px) {
    .modal-open:checked ~ .modal-wrap .modal-dialog {
      overflow-y: scroll;
      max-height: 100vh; } }

.modal-dialog {
  background: #fefefe;
  left: 50%;
  max-width: 600px;
  position: fixed;
  top: -100%;
  transform: translate(-50%, -150%);
  transition: .6s ease-in-out;
  width: 80%;
  z-index: 103; }
  @media (max-width: 480px) {
    .modal-dialog {
      width: 100%; } }

.modal-body {
  padding: 10px 20px; }
  .modal-body p {
    margin: 0; }

.modal-header,
.modal-footer {
  padding: 20px; }

.modal-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between; }
  .modal-header a {
    text-decoration: none; }
  .modal-header h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 5px; }
  .modal-header h4 {
    display: inline-block;
    line-height: 10px;
    margin-left: 10px; }
  .modal-header .author-profile {
    margin-right: 20px; }
  .modal-header .interaction-infos {
    display: flex; }
    .modal-header .interaction-infos span {
      align-items: center;
      display: flex; }
      .modal-header .interaction-infos span strong {
        margin-right: 5px; }
      .modal-header .interaction-infos span:first-child {
        margin-right: 20px; }
    .modal-header .interaction-infos i {
      margin-right: 10px; }
  @media (max-width: 480px) {
    .modal-header {
      flex-flow: column-reverse; }
      .modal-header .author-profile {
        display: none; } }

.modal-footer {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.modal-promocao .modal-dialog {
  background: url(../img/modal-bg.jpg);
  height: 81vh;
  overflow-x: auto;
  width: 60vw; }
  .modal-promocao .modal-dialog .modal-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    width: 80%; }
    .modal-promocao .modal-dialog .modal-body img {
      max-width: 800px; }
    .modal-promocao .modal-dialog .modal-body-thumb {
      margin: 30px 0; }
    .modal-promocao .modal-dialog .modal-body form {
      width: 100%; }
      .modal-promocao .modal-dialog .modal-body form input[type="email"],
      .modal-promocao .modal-dialog .modal-body form input[type="text"],
      .modal-promocao .modal-dialog .modal-body form input[type="tel"],
      .modal-promocao .modal-dialog .modal-body form textarea {
        background: transparent;
        border: 2px solid #f5185e;
        box-shadow: none;
        color: #f5185e;
        margin: 15px 0; }
        .modal-promocao .modal-dialog .modal-body form input[type="email"]::-webkit-input-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="text"]::-webkit-input-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="tel"]::-webkit-input-placeholder,
        .modal-promocao .modal-dialog .modal-body form textarea::-webkit-input-placeholder {
          color: #f5185e; }
        .modal-promocao .modal-dialog .modal-body form input[type="email"]::-moz-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="text"]::-moz-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="tel"]::-moz-placeholder,
        .modal-promocao .modal-dialog .modal-body form textarea::-moz-placeholder {
          color: #f5185e; }
        .modal-promocao .modal-dialog .modal-body form input[type="email"]:-ms-input-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="text"]:-ms-input-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="tel"]:-ms-input-placeholder,
        .modal-promocao .modal-dialog .modal-body form textarea:-ms-input-placeholder {
          color: #f5185e; }
        .modal-promocao .modal-dialog .modal-body form input[type="email"]:-moz-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="text"]:-moz-placeholder,
        .modal-promocao .modal-dialog .modal-body form input[type="tel"]:-moz-placeholder,
        .modal-promocao .modal-dialog .modal-body form textarea:-moz-placeholder {
          color: #f5185e; }

.modal-promocao .modal-header {
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .modal-promocao .modal-header h3 {
    color: #003d80; }
  .modal-promocao .modal-header h4 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4); }

.modal-promocao .btn-close {
  position: absolute;
  right: 30px;
  top: 30px; }

.modal-promocao iframe {
  min-height: 300px; }

.modal-video {
  background: #fff600; }
  .modal-video .modal-header {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .modal-video .modal-header h3 {
      color: #003d80; }
    .modal-video .modal-header h4 {
      font-size: 1rem;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.4); }
  .modal-video .btn-close {
    position: absolute;
    right: 30px;
    top: 30px; }
  .modal-video iframe {
    min-height: 300px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  z-index: 6; }
  .navbar h3 {
    color: #fff;
    height: 30px;
    margin-left: 10px; }

.navbar li,
.nav-menu ul,
.drawer-menu li {
  display: inline;
  list-style: none; }

.brand {
  font-size: 2em;
  font-family: "Montserrat";
  font-weight: 300;
  display: inline; }

.drawer {
  width: 50px;
  height: 50px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  display: block;
  z-index: 12; }
  .drawer .icon-bar {
    background-color: #fff;
    display: block;
    height: 8px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 50px; }
    .drawer .icon-bar:first-child {
      margin-top: 0; }

.drawer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: right;
  top: 60px;
  z-index: 11; }
  .drawer-menu button.drawer {
    align-self: flex-end;
    right: 50px;
    top: 50px;
    position: absolute; }
  .drawer-menu a {
    color: white;
    background: #003d80;
    padding: 8px;
    margin: 2px;
    transition: all .1s ease-in-out; }
    .drawer-menu a:hover {
      background: #1b1f27; }
    .drawer-menu a:nth-child(1) {
      animation-delay: 0.13s; }
    .drawer-menu a:nth-child(2) {
      animation-delay: 0.26s; }
    .drawer-menu a:nth-child(3) {
      animation-delay: 0.39s; }
    .drawer-menu a:nth-child(4) {
      animation-delay: 0.52s; }
    .drawer-menu a:nth-child(5) {
      animation-delay: 0.65s; }
    .drawer-menu a:nth-child(6) {
      animation-delay: 0.78s; }
    .drawer-menu a:nth-child(7) {
      animation-delay: 0.91s; }
    .drawer-menu a:nth-child(8) {
      animation-delay: 1.04s; }
    .drawer-menu a:nth-child(9) {
      animation-delay: 1.17s; }
    .drawer-menu a:nth-child(10) {
      animation-delay: 1.3s; }

.hide-drawer {
  display: none !important; }

#submenu {
  background: #003d80;
  display: none;
  position: absolute;
  margin-top: 8px;
  margin-left: 370px; }
  #submenu li {
    display: block; }
    #submenu li a {
      color: white; }

#submenu-trigger:checked ~ #submenu {
  display: block !important; }

#trigger-menu {
  color: #003d80;
  position: absolute;
  top: 40px;
  z-index: 9; }
  #trigger-menu h3 {
    margin-right: 10px; }
  #trigger-menu .container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: -70px; }
    @media (max-width: 960px) {
      #trigger-menu .container {
        margin-left: 0;
        justify-content: center; } }
  #trigger-menu .icon-bar {
    background: #003d80; }
  @media (max-width: 960px) {
    #trigger-menu {
      position: relative;
      top: 0; } }

#trigger-link {
  align-items: center;
  display: flex;
  flex-direction: row; }

.trigger-drawer {
  cursor: pointer; }

#player-wrapper {
  background: #003d80;
  display: none;
  margin-top: -130px;
  position: relative;
  z-index: 5;
  width: 100%;
  transition: all .2s; }

#cp_container_6 {
  margin-left: -23px; }

#play {
  width: 60px; }

#player {
  align-items: center;
  color: #1472a7;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  height: 90px;
  justify-content: space-evenly; }
  #player #qtd {
    margin-left: 9px; }
  #player #ouvintes h3 {
    font-size: 20px; }
  #player #ouvintes .icon-bar {
    height: 5px;
    width: 40px; }
  #player #controls {
    align-items: center;
    display: flex; }
    #player #controls i {
      cursor: pointer;
      font-size: 28px;
      padding: 8px; }
  #player #locutora {
    color: #52aee4; }
    @media (max-width: 960px) {
      #player #locutora {
        display: none; } }
  #player #foto-perfil {
    align-self: flex-end; }
    @media (max-width: 960px) {
      #player #foto-perfil {
        display: none; } }
  #player #horario {
    text-transform: uppercase; }
    #player #horario h4 {
      font-size: 16px;
      font-weight: 400;
      text-align: right; }
    #player #horario h3 {
      color: #52aee4;
      font-size: 24px;
      font-weight: 900; }
    @media (max-width: 960px) {
      #player #horario {
        display: none; } }

#btn-close-player {
  align-self: flex-start;
  background: #e74c3c;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 23px;
  margin-top: -30px;
  padding: 14px; }

.player-open:checked ~ #player-wrapper {
  display: block; }
  .player-open:checked ~ #player-wrapper #player-dialog {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%; }
    @media (max-width: 480px) {
      .player-open:checked ~ #player-wrapper #player-dialog {
        overflow-y: scroll;
        max-height: 100vh; } }

.btn {
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid;
  padding: 15px;
  font-weight: 600;
  margin: 10px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  transition: all .13s ease-in-out; }

.btn-lg {
  padding: 20px 40px;
  font-size: 1.5rem; }

.btn-sm {
  padding: 10px;
  font-size: .6rem; }

.rounded {
  border-radius: 30px; }

button > i {
  padding-right: 10px; }

/*
 * Project: CirclePlayer
 * http://www.jplayer.org
 *
 * Copyright (c) 2012 Happyworm Ltd
 *
 * Author: Silvia Benvenuti
 * Edited by: Mark J Panaghiston
 * Date: 2nd October 2012
 * Artwork inspired by: http://forrst.com/posts/Untitled-CJz
 */
.cp-container {
  position: relative;
  width: 104px;
  height: 104px;
  background: none;
  padding: 28px;
  -webkit-tap-highlight-color: transparent; }
  .cp-container:focus {
    border: none;
    outline: 0; }

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 104px;
  clip: rect(0px, 52px, 104px, 0px);
  border-radius: 52px; }

.cp-container .cp-fallback {
  background-position: 0 104px; }

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
  position: absolute;
  width: 104px;
  height: 104px; }

.cp-circle-control {
  cursor: pointer; }

.cp-buffer-holder,
.cp-progress-holder {
  clip: rect(0px, 104px, 104px, 52px);
  display: none; }

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback {
  clip: rect(auto, auto, auto, auto); }

.cp-controls {
  margin: 0; }

.cp-controls li {
  list-style-type: none;
  display: block;
  position: absolute; }

.cp-controls li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer; }

.cp-controls .cp-play {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cp-controls .cp-play:before {
    content: "\f01d";
    color: #1472a7;
    display: block;
    font-size: 60px;
    margin-top: -6px; }

.cp-controls .cp-pause {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .cp-controls .cp-pause:before {
    content: "\f28c";
    color: #1472a7;
    display: block;
    font-size: 60px;
    margin-top: -6px; }

.cp-jplayer {
  width: 0;
  height: 0; }

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }
  @media (min-width: 960px) {
    .lb-nav {
      left: -10%;
      width: 120%; } }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.carousel-indicators {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100; }

.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity .6s ease-out; }
  .carousel-item img {
    display: block;
    height: auto;
    max-width: 100%; }

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 6.2rem;
  font-weight: bold;
  height: 40px;
  line-height: 30px;
  text-align: center;
  width: 40px;
  z-index: 7; }
  .carousel-control.prev {
    left: 2%; }
  .carousel-control.next {
    right: 2%; }
  .carousel-control:hover {
    color: #aaa; }

#carousel-1:checked ~ .control-1, #carousel-2:checked ~ .control-2, #carousel-3:checked ~ .control-3 {
  display: block; }

.carousel-indicators {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 7; }

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px; }

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 3.5rem; }
  .carousel-bullet:hover {
    color: #aaa; }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca; }

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.delay {
  animation-delay: .5s; }

.delay-2x {
  animation-delay: .8s; }

@-webkit-keyframes toBlack {
  from {
    color: #f9f9f9; }
  to {
    color: #252A34; } }

.toBlack {
  -webkit-animation-name: toBlack;
  animation-name: toBlack;
  animation-delay: 1s; }

@-webkit-keyframes toWhite {
  from {
    color: #252A34; }
  to {
    color: #f9f9f9; } }

.toWhite {
  -webkit-animation-name: toWhite;
  animation-name: toWhite;
  animation-delay: 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 27%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 1;
    color: #55347e;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -35px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -35px; }
  .slick-prev:before {
    content: "‹"; }
    [dir="rtl"] .slick-prev:before {
      content: "›"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "›"; }
    [dir="rtl"] .slick-next:before {
      content: "‹"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -35px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@media (max-width: 480px) {
  h1 {
    font-size: 2.8rem; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .tab-item span {
    display: none; }
  .modal-dialog {
    height: 100vh;
    padding: 20px;
    width: 100vw; } }

@media (max-width: 960px) {
  html {
    font-size: 18px; }
  body {
    overflow-x: hidden; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.1rem; }
  aside {
    margin: 20px auto; }
  .img-responsive {
    margin-left: auto;
    margin-right: auto; }
  .img-center-resize {
    width: 50%;
    margin: 0 auto;
    display: block; }
  .center-on-mobile {
    margin-right: auto !important;
    margin-left: auto !important;
    justify-content: center; }
  .row {
    flex-flow: column; }
  .gutter {
    padding-left: 0;
    padding-right: 0; }
  .modal-dialog {
    overflow-y: scroll; } }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

body {
  overflow-x: hidden; }

header {
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 4;
  max-height: 300px; }
  @media (max-width: 960px) {
    header {
      max-height: 100vh; } }
  header img {
    width: auto; }
  header > .container {
    display: flex;
    flex-direction: row; }
    @media (max-width: 960px) {
      header > .container {
        flex-direction: column; } }
  @media (max-width: 960px) {
    header #logo {
      margin: 0 auto;
      padding: 30px 0; } }
  header #cta-player-mobile {
    display: none; }
    @media (max-width: 960px) {
      header #cta-player-mobile {
        align-self: center;
        display: flex !important;
        margin-bottom: 30px; } }
  header #ouvinte-terramar {
    display: none;
    overflow: hidden; }
    header #ouvinte-terramar img {
      margin-bottom: 30px;
      max-height: 300px; }
    header #ouvinte-terramar #slider-wrapper {
      top: 341px;
      left: 280px;
      height: 420px;
      position: relative; }

@-moz-document url-prefix() {
  header #ouvinte-terramar #slider-wrapper {
    top: 485px; } }
      header #ouvinte-terramar #slider-wrapper .slick-dots {
        top: 70% !important;
        width: auto; }
      header #ouvinte-terramar #slider-wrapper .slick-dots li.slick-active button:before,
      header #ouvinte-terramar #slider-wrapper .slick-dots li button:before {
        color: #55347e !important;
        font-size: 17px !important; }
      header #ouvinte-terramar #slider-wrapper .slick-next,
      header #ouvinte-terramar #slider-wrapper .slick-prev {
        display: none !important; }
    header #ouvinte-terramar #cta-player {
      margin-top: 360px;
      align-self: flex-end;
      position: relative;
      width: 39%;
      z-index: 10; }
      header #ouvinte-terramar #cta-player label {
        cursor: pointer; }
    @media (min-width: 961px) {
      header #ouvinte-terramar {
        background: url(../img/header-ouvinte-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        min-width: 1200px;
        z-index: 5;
        margin-left: -13vw;
        max-height: 420px; } }
    @media (min-width: 1920px) {
      header #ouvinte-terramar {
        margin-left: -9vw; } }

#top-5 {
  background: url(../img/top5-bg.png);
  background-size: cover;
  margin-top: -120px;
  padding-top: 220px !important;
  padding-bottom: 70px !important;
  position: relative;
  z-index: 3;
  background-color: transparent;
  padding: 50px 0;
  display: block;
  color: #f9f9f9; }
  #top-5 h2 {
    color: #fff600;
    font-style: italic;
    text-align: right;
    font-weight: 300;
    font-size: 30px; }
    #top-5 h2 b {
      font-family: 'Montserrat';
      font-size: 35px;
      font-weight: normal; }
  #top-5 h3 {
    color: #981898;
    font-size: 1.25rem;
    text-transform: uppercase; }
  #top-5 h4 {
    color: #f5185e;
    font-weight: 300;
    text-transform: uppercase; }
  #top-5 .card-musica-top5 {
    background-color: #fff600;
    display: flex;
    flex-direction: row; }
    #top-5 .card-musica-top5-info {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      justify-content: center;
      max-width: 40%; }
    #top-5 .card-musica-top5-play {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px; }
      #top-5 .card-musica-top5-play img {
        cursor: pointer; }
  #top-5 #video-da-semana {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 100%; }
    #top-5 #video-da-semana #video {
      align-items: center;
      background: url(../img/video-thumb.png);
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff600;
      display: flex;
      font-size: 6rem;
      justify-content: center;
      margin: 30px auto;
      padding: 30px 10px;
      width: 100%; }
      @media (min-width: 960px) {
        #top-5 #video-da-semana #video {
          min-height: 300px; } }
    #top-5 #video-da-semana img {
      width: auto; }
    #top-5 #video-da-semana #cta-app {
      display: flex;
      flex-direction: column; }
      #top-5 #video-da-semana #cta-app #android-logo {
        max-width: 150px;
        max-height: 61px;
        margin: 10px auto; }
    @media (max-width: 960px) {
      #top-5 #video-da-semana {
        margin-top: 50px; } }

#noticias {
  background: url(../img/noticias-bg.png);
  position: relative;
  margin-top: -40px;
  z-index: 2;
  background-color: transparent;
  padding: 50px 0;
  display: block;
  color: #f9f9f9; }
  #noticias h2 {
    color: #55347e;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase; }
    #noticias h2 b {
      font-family: 'Montserrat'; }
  #noticias h3, #noticias h4 {
    color: white;
    font-style: italic;
    font-weight: 400; }
  #noticias h3 {
    font-size: 18px;
    font-weight: bold; }
  #noticias h4 {
    font-size: 16px; }
  #noticias .card-noticia-info {
    background-color: #55347e;
    padding: 10px 5px;
    text-align: center;
    width: 100%; }
  @media (max-width: 960px) {
    #noticias .card-noticia {
      margin: 15px 0; } }
  @media (max-width: 960px) {
    #noticias {
      margin-top: -70px; } }

#publicidade-container {
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  margin-top: 30px;
  padding: 30px;
  width: 100%; }

.publicidade {
  background: white;
  height: 88px;
  width: 100%; }
  @media (min-width: 961px) {
    .publicidade {
      width: 600px; } }

#midia {
  background: url(../img/promocoes-bg.png);
  background-color: white;
  padding: 50px 0;
  display: block;
  color: #252A34; }
  #midia h2 {
    color: #fff600;
    text-align: center;
    margin-bottom: 15px; }
    #midia h2 span {
      color: #55347e; }
    #midia h2 img {
      display: block;
      margin: -20px auto 0;
      width: auto; }
  #midia h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: -50px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 4px #000; }
    @media (max-width: 960px) {
      #midia h3 {
        margin-top: -80px; } }
  #midia .card-promocao,
  #midia .card-foto,
  #midia .card-video {
    padding: 15px 25px; }
    #midia .card-promocao label i,
    #midia .card-foto label i,
    #midia .card-video label i {
      position: absolute;
      color: #fff600;
      font-size: 6rem; }
    #midia .card-promocao-button,
    #midia .card-foto-button,
    #midia .card-video-button {
      display: flex;
      justify-content: center;
      margin: 0 auto; }
    @media (min-width: 961px) {
      #midia .card-promocao img,
      #midia .card-foto img,
      #midia .card-video img {
        max-height: 278px; } }
  #midia .slick-dots {
    display: flex !important;
    flex-direction: column !important;
    top: 30% !important;
    width: auto; }
    @media (max-width: 960px) {
      #midia .slick-dots {
        top: 40% !important; } }
  #midia .slick-dots li.slick-active button:before,
  #midia .slick-dots li button:before {
    color: #55347e !important;
    font-size: 17px !important; }
  #midia .slick-next,
  #midia .slick-prev {
    display: none !important; }

#historia,
#equipe,
#programacao,
#pagina-contato,
#pagina-noticias,
#pagina-videos,
#pagina-fotos,
#pagina-promocoes {
  background-image: url(../img/internas-bg.jpg);
  background-color: #fff600;
  padding: 100px 0; }
  @media (max-width: 960px) {
    #historia,
    #equipe,
    #programacao,
    #pagina-contato,
    #pagina-noticias,
    #pagina-videos,
    #pagina-fotos,
    #pagina-promocoes {
      padding-top: 30px; } }

#titulo-interna {
  color: #003d80;
  font-style: italic;
  font-weight: 300;
  font-size: 30px; }
  #titulo-interna b {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: normal; }

#pagina-contato input[type="text"],
#pagina-contato input[type="email"],
#pagina-contato input[type="tel"],
#pagina-contato textarea {
  background: transparent;
  border: 1px solid #e74c3c;
  color: #003d80;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase; }
  #pagina-contato input[type="text"]::-webkit-input-placeholder,
  #pagina-contato input[type="email"]::-webkit-input-placeholder,
  #pagina-contato input[type="tel"]::-webkit-input-placeholder,
  #pagina-contato textarea::-webkit-input-placeholder {
    color: #003d80; }
  #pagina-contato input[type="text"]::-moz-placeholder,
  #pagina-contato input[type="email"]::-moz-placeholder,
  #pagina-contato input[type="tel"]::-moz-placeholder,
  #pagina-contato textarea::-moz-placeholder {
    color: #003d80; }
  #pagina-contato input[type="text"]:-ms-input-placeholder,
  #pagina-contato input[type="email"]:-ms-input-placeholder,
  #pagina-contato input[type="tel"]:-ms-input-placeholder,
  #pagina-contato textarea:-ms-input-placeholder {
    color: #003d80; }
  #pagina-contato input[type="text"]:-moz-placeholder,
  #pagina-contato input[type="email"]:-moz-placeholder,
  #pagina-contato input[type="tel"]:-moz-placeholder,
  #pagina-contato textarea:-moz-placeholder {
    color: #003d80; }

#pagina-contato textarea {
  min-height: 150px; }

#pagina-contato #info-contato {
  color: #003d80;
  text-align: center; }
  #pagina-contato #info-contato b {
    display: block; }

#pagina-noticias .card-noticia {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 30px 0;
  width: 100%; }
  #pagina-noticias .card-noticia-thumb {
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    width: 30%; }
  #pagina-noticias .card-noticia-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; }
    #pagina-noticias .card-noticia-info h2, #pagina-noticias .card-noticia-info h3 {
      color: #003d80; }
    #pagina-noticias .card-noticia-info h2 {
      font-family: 'Montserrat';
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600; }
    #pagina-noticias .card-noticia-info h3 {
      font-size: 1.1rem;
      font-weight: 600; }

.noticia {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; }
  .noticia-header {
    display: flex;
    flex-direction: row;
    margin: 20px 0; }
    @media (max-width: 960px) {
      .noticia-header {
        display: flex;
        flex-direction: column; } }
  .noticia-social-share {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .noticia-social-share #facebook-share {
      color: #5864A3; }
    .noticia-social-share #twitter-share {
      color: #73C7FA; }
    .noticia-social-share #gplus-share {
      color: #D56449; }
    @media (max-width: 960px) {
      .noticia-social-share {
        display: flex;
        flex-direction: row;
        justify-content: center; } }
  .noticia-titulo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-left: 30px; }
    .noticia-titulo h2 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 2rem; }
    .noticia-titulo-info {
      display: flex;
      color: rgba(0, 0, 0, 0.6);
      flex-direction: row;
      flex-wrap: wrap;
      font-size: .8rem; }
      .noticia-titulo-info span {
        padding: 0 5px; }
    @media (max-width: 960px) {
      .noticia-titulo {
        padding-left: 0; } }
  .noticia-footer iframe {
    width: 80vw !important; }

.noticia-publicidade {
  align-items: center;
  background: #003d80;
  display: flex;
  color: white;
  height: 300px;
  justify-content: center;
  width: 100%; }

.tabela-programacao .linha {
  background: #FE0050;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 15px; }
  .tabela-programacao .linha i {
    color: #fff600;
    padding: 0 10px;
    font-size: 1.8rem; }
  .tabela-programacao .linha:nth-child(even) {
    background: #BD003E; }

#pagina-videos .card-video {
  width: 100%; }
  #pagina-videos .card-video label i {
    position: absolute;
    color: #fff600;
    font-size: 6rem; }
  @media (max-width: 960px) {
    #pagina-videos .card-video {
      margin: 20px 0; } }
  @media (min-width: 961px) {
    #pagina-videos .card-video {
      min-height: 250px; } }

#equipe .card-colaborador {
  width: 100%; }
  #equipe .card-colaborador-redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: -50px; }
    #equipe .card-colaborador-redes-sociais .fa-circle {
      color: white; }

#pagina-promocoes .card-promocao {
  padding: 15px 10px;
  width: 100%; }
  #pagina-promocoes .card-promocao iframe {
    min-width: 250px;
    min-height: 278px; }
  #pagina-promocoes .card-promocao h3 {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: -50px;
    padding: 10px;
    text-align: center; }
    @media (max-width: 960px) {
      #pagina-promocoes .card-promocao h3 {
        margin-top: -80px; } }
  #pagina-promocoes .card-promocao-button {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  @media (min-width: 961px) {
    #pagina-promocoes .card-promocao img {
      max-height: 278px; } }

#page-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center; }
  #page-navigation a {
    background: white;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    padding: 10px; }
    #page-navigation a:first-child {
      border-left: 1px solid #e8e8e8;
      border-radius: 5px 0 0 5px; }
    #page-navigation a:last-child {
      border-radius: 0 5px 5px 0; }
  #page-navigation .active_page {
    background: #f0f6ff; }

#contato-wrapper {
  background-color: #55347e;
  padding: 50px 0;
  display: block;
  color: #252A34;
  display: block;
  padding: 0 !important; }

#contato {
  background: url(../img/footer-bg.jpg);
  padding: 30px;
  margin: 0 auto; }
  #contato .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  #contato h3 {
    color: #55347e;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase; }
    #contato h3 b {
      font-family: 'Montserrat'; }
  #contato #peca-sua-musica {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    #contato #peca-sua-musica form {
      width: 100%; }
  #contato #peca-musica input {
    background: #981898;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 5px 0; }
    #contato #peca-musica input::-webkit-input-placeholder {
      color: white; }
    #contato #peca-musica input::-moz-placeholder {
      color: white; }
    #contato #peca-musica input:-ms-input-placeholder {
      color: white; }
    #contato #peca-musica input:-moz-placeholder {
      color: white; }
  #contato #peca-musica input[type="submit"] {
    padding: 15px; }

#aovivo-interna {
  background: #003d80; }
  #aovivo-interna::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    border-left: 0 solid transparent;
    border-right: 800px solid transparent;
    border-top: 130px solid #fff600; }
  #aovivo-interna #logo {
    height: 107px;
    margin: 0 auto 50px;
    padding-top: 30px;
    position: relative;
    width: 245px;
    z-index: 3; }
  #aovivo-interna #player-aovivo {
    margin: 30px auto;
    width: 100%; }
    #aovivo-interna #player-aovivo-video {
      align-items: center;
      background: #222;
      display: flex;
      justify-content: center;
      min-height: 300px;
      width: 100%; }
      #aovivo-interna #player-aovivo-video i {
        color: #fff600;
        cursor: pointer;
        font-size: 70px; }

footer {
  background-color: #fff600; }
  footer ul li {
    display: inline;
    padding: 5px 10px; }
  footer #submenu-container {
    display: none; }
  footer img {
    width: auto;
    margin: 0 auto; }
  footer .row {
    justify-content: space-between; }
  footer #logo-footer img {
    margin: 0 auto;
    width: 100%; }
  footer #terramar-info {
    color: #003d80;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase; }
    footer #terramar-info span {
      display: block; }

.btn-default {
  background-color: #003d80;
  border-color: #001934;
  color: white; }
  .btn-default:hover {
    margin-top: 13px;
    border-width: 0; }

.btn-purple {
  background-color: #55347e;
  border-color: #301e48;
  color: white; }
  .btn-purple:hover {
    margin-top: 13px;
    border-width: 0; }

.btn-blue {
  background-color: #003d80;
  border-color: #001934;
  color: white; }
  .btn-blue:hover {
    margin-top: 13px;
    border-width: 0; }

.btn-red {
  background-color: #e74c3c;
  border-color: #bf2718;
  color: white; }
  .btn-red:hover {
    margin-top: 13px;
    border-width: 0; }

.btn-pink {
  background-color: #f5185e;
  border-color: #b90840;
  color: #fff600; }
  .btn-pink:hover {
    margin-top: 13px;
    border-width: 0; }

.btn-yellow {
  background-color: #fff600;
  border-color: #b3ac00;
  color: #55347e; }
  .btn-yellow:hover {
    margin-top: 13px;
    border-width: 0; }

.btn-white {
  background-color: #f7f7f7;
  border-color: #d1d1d1;
  color: #55347e; }
  .btn-white:hover {
    margin-top: 13px;
    border-width: 0; }
