doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    title Ao Vivo | Rádio Terramar FM
    link(rel='stylesheet', href='css/style.css')
    meta(name='viewport', content='width=device-width; initial-scale = 1.0; \
    maximum-scale=1.0; user-scalable=no')
  body#aovivo-interna
    #logo
      img(src="img/terramar-logo.png", alt="Rádio Terramar")
    .container
      #player-aovivo
        #player-aovivo-video
          i.fa.fa-play(aria-hidden="true")
