section#pagina-contato.animate.fadeIn
  .container
    h2#titulo-interna
      b Contato 
      | Terramar FM
    #info-contato
      h4 Endereço:
      | Rua Rio Grande do Norte, 1096 - B, Umuarama - Rio Itamaraju - BA - CEP: 38402-016

      h4 Telefones:
      b Comercial: (34)3291-5508 | (34)3291-5510
      b Artístico: (34)3291-5504
      | Entre em contato com a Terramar FM, mande-nos sua dúvida, sugestão ou crítica e iremos lhe atender na melhor forma possível.
    form(action="#")
      input(type="text", name="nome", placeholder="Seu Nome")
      input(type="email", name="email", placeholder="Email")
      input(type="tel", name="telefone", placeholder="Telefone")
      input(type="text", name="cidade", placeholder="Cidade/Estado")
      textarea(name="mensagem", placeholder="Digite aqui sua mensagem")
      input(type="submit", value="Enviar").btn.btn-pink.right

script(src="js/menu.js" type="text/javascript")