section#equipe.animate.fadeIn
  .container
    h2#titulo-interna
      b Equipe
      | Terramar FM
    input#current_page(type="hidden")
    input#show_per_page(type="hidden")
    #lista-de-colaboradores.row
      .col-4
        .card-colaborador
          .card-colaborador-profile-img
            img(src="https://placeimg.com/640/480/1", alt="")
          .card-colaborador-redes-sociais
            a(href="#")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x
            a(href="#")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x
      .col-4
        .card-colaborador
          .card-colaborador-profile-img
            img(src="https://placeimg.com/640/480/3", alt="")
          .card-colaborador-redes-sociais
            a(href="#")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x
            a(href="#")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x
      .col-4
        .card-colaborador
          .card-colaborador-profile-img
            img(src="https://placeimg.com/640/480/5", alt="")
          .card-colaborador-redes-sociais
            a(href="#")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x
            a(href="#")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x
    #page-navigation
script(src="js/equipe.js")
script(src="js/menu.js" type="text/javascript")