section#pagina-fotos.animate.fadeIn
  .container
    h2#titulo-interna
      b Fotos
      | Terramar FM
    input#current_page(type="hidden")
    input#show_per_page(type="hidden")
    #lista-de-fotos.row
      .col-4
        .card-foto.animate.fadeIn
          a(href="http://placeimg.com/800/600/1" data-lightbox="image-1" data-title="Álbum 1")
            img(src="https://placeimg.com/640/480/1", alt="")
      .col-4
        .card-foto.animate.fadeIn.delay
          a(href="http://placeimg.com/800/600/2" data-lightbox="image-1" data-title="Álbum 1")
            img(src="https://placeimg.com/640/480/2", alt="")
      .col-4
        .card-foto.animate.fadeIn.delay-2x
          a(href="http://placeimg.com/800/600/3" data-lightbox="image-1" data-title="Álbum 1")
            img(src="https://placeimg.com/640/480/3", alt="")
      .col-4
        .card-foto.animate.fadeIn
          a(href="http://placeimg.com/800/600/4" data-lightbox="image-1" data-title="Álbum 2")
            img(src="https://placeimg.com/640/480/4", alt="")
      .col-4
        .card-foto.animate.fadeIn.delay
          a(href="http://placeimg.com/800/600/5" data-lightbox="image-1" data-title="Álbum 2")
            img(src="https://placeimg.com/640/480/5", alt="")
      .col-4
        .card-foto.animate.fadeIn.delay-2x
          a(href="http://placeimg.com/800/600/6" data-lightbox="image-1" data-title="Álbum 2")
            img(src="https://placeimg.com/640/480/6", alt="")
    #page-navigation
              
script(src="js/fotos.js")
script(src="js/ease.min.js" type="text/javascript")
script(src="js/segment.min.js" type="text/javascript")
script(src="js/lightbox.js" type="text/javascript")
script(src="js/menu.js" type="text/javascript")