section#historia.animate.fadeIn
  .container
    h2#titulo-interna
      b História 
      | Terramar FM
    #historia-terramar.animate.fadeIn
      | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam debitis necessitatibus, nobis iusto suscipit repellendus a sequi hic placeat, similique voluptate vero asperiores, beatae error vitae. Maxime quas beatae ducimus.
script(src="js/menu.js" type="text/javascript")