section#top-5.animate.fadeIn
  .container
    .row
      .col-5#lista-top5
        h2
          b TOP 5 
          | Terramar FM
        .card-musica-top5
          .card-musica-top5-foto-artista
            img(src="img/ricardo-ozcar-perfil.png", alt="Ricardo Ozcar")
          .card-musica-top5-info
            h3 Ricardo Ozcar
            h4 Pra Sempre te Amar
          .card-musica-top5-play
            .cp-jplayer#jquery_jplayer_1
            .cp-container#cp_container_1
              .cp-buffer-holder
                .cp-buffer-1
                .cp-buffer-2
              .cp-progress-holder
                .cp-progress-1
                .cp-progress-2
              .cp-circle-control
              ul.cp-controls
                li
                  a.cp-play(tabindex="1")
                li
                  a.cp-pause(style="display:none;" tabindex="1")
        .card-musica-top5
          .card-musica-top5-foto-artista
            img(src="img/ricardo-ozcar-perfil.png", alt="Ricardo Ozcar")
          .card-musica-top5-info
            h3 Mano Walter
            h4 K.O
          .card-musica-top5-play
            .cp-jplayer#jquery_jplayer_2
            .cp-container#cp_container_2
              .cp-buffer-holder
                .cp-buffer-1
                .cp-buffer-2
              .cp-progress-holder
                .cp-progress-1
                .cp-progress-2
              .cp-circle-control
              ul.cp-controls
                li
                  a.cp-play(tabindex="1")
                li
                  a.cp-pause(style="display:none;" tabindex="1")
        .card-musica-top5
          .card-musica-top5-foto-artista
            img(src="img/ricardo-ozcar-perfil.png", alt="Ricardo Ozcar")
          .card-musica-top5-info
            h3 Ricardo Ozcar
            h4 Jorge e Mateus
          .card-musica-top5-play
            .cp-jplayer#jquery_jplayer_3
            .cp-container#cp_container_3
              .cp-buffer-holder
                .cp-buffer-1
                .cp-buffer-2
              .cp-progress-holder
                .cp-progress-1
                .cp-progress-2
              .cp-circle-control
              ul.cp-controls
                li
                  a.cp-play(tabindex="1")
                li
                  a.cp-pause(style="display:none;" tabindex="1")
        .card-musica-top5
          .card-musica-top5-foto-artista
            img(src="img/ricardo-ozcar-perfil.png", alt="Ricardo Ozcar")
          .card-musica-top5-info
            h3 Ricardo Ozcar
            h4 Sem você eu não sou mais feliz
          .card-musica-top5-play
            .cp-jplayer#jquery_jplayer_4
            .cp-container#cp_container_4
              .cp-buffer-holder
                .cp-buffer-1
                .cp-buffer-2
              .cp-progress-holder
                .cp-progress-1
                .cp-progress-2
              .cp-circle-control
              ul.cp-controls
                li
                  a.cp-play(tabindex="1")
                li
                  a.cp-pause(style="display:none;" tabindex="1")
        .card-musica-top5
          .card-musica-top5-foto-artista
            img(src="img/ricardo-ozcar-perfil.png", alt="Ricardo Ozcar")
          .card-musica-top5-info
            h3 Ricardo Ozcar
            h4 Me Diga
          .card-musica-top5-play
            .cp-jplayer#jquery_jplayer_5
            .cp-container#cp_container_5
              .cp-buffer-holder
                .cp-buffer-1
                .cp-buffer-2
              .cp-progress-holder
                .cp-progress-1
                .cp-progress-2
              .cp-circle-control
              ul.cp-controls
                li
                  a.cp-play(tabindex="1")
                li
                  a.cp-pause(style="display:none;" tabindex="1")
      .col-7#video-da-semana
        img(src="img/video-da-semana.png", alt="")
        #video
          label(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
              
        #cta-app
          img(src="img/baixe-nosso-app.png", alt="")
          img(src="img/android-logo.png", alt="")#android-logo

    .col-12#publicidade-container
      .publicidade.center-block
section#noticias
  .container
    h2 
      b Notícias 
      | Terramar FM
    .row.noticias-home
      .col-3
        .card-noticia
          img(src="img/noticia-thumb.png", alt="")
          .card-noticia-info
            a(href="#").btn-noticia
              h3 Título da Notícia
            h4 Subtítulo da Notícia
      .col-3
        .card-noticia
          img(src="img/noticia-thumb.png", alt="")
          .card-noticia-info
            a(href="#").btn-noticia
              h3 Título da Notícia
            h4 Subtítulo da Notícia
      .col-3
        .card-noticia
          img(src="img/noticia-thumb.png", alt="")
          .card-noticia-info
            a(href="#").btn-noticia
              h3 Título da Notícia
            h4 Subtítulo da Notícia
      .col-3
        .card-noticia 
          img(src="img/noticia-thumb.png", alt="")
          .card-noticia-info
            a(href="#").btn-noticia
              h3 Título da Notícia
            h4 Subtítulo da Notícia
      .col-3
        .card-noticia 
          img(src="img/noticia-thumb.png", alt="")
          .card-noticia-info
            a(href="#").btn-noticia
              h3 Título da Notícia
            h4 Subtítulo da Notícia
      .col-3
        .card-noticia 
          img(src="img/noticia-thumb.png", alt="")
          .card-noticia-info
            a(href="#").btn-noticia
              h3 Título da Notícia
            h4 Subtítulo da Notícia
section#midia
  .container
    .row
      .col-4.no-gutter
        h2 Pro
          span mo
          | ções
          img(src="img/icon-pr-mo-terramar.png", alt="")

        .responsive
          div
            .card-promocao
              img(src="img/promo-thumb.png", alt="")
              .card-promocao-title
                h3 Luan Santana na Terramar FM

          div
            .card-promocao
              img(src="img/promo-thumb.png", alt="")
              .card-promocao-title
                h3 Luan Santana na Terramar FM

        #promocoes-button.flex.flex-center
          a(href="#").btn-promocoes
            button.btn.btn-yellow Ver Promoções
              
      .col-4.no-gutter
        h2 F
          span oto
          | s
          img(src="img/fotos-icone.png", alt="")

        .responsive
          .card-foto
            img(src="img/promo-thumb.png", alt="")
            .card-foto-title
              h3 Luan Santana na Terramar FM

          .card-foto
            img(src="https://placeimg.com/278/250/9", alt="")
            .card-foto-title
              h3 Fulano na Terramar FM

        #galeria-button.flex.flex-center
          a(href="#").btn-fotos
            button.btn.btn-yellow Ver Galeria

      .col-4.no-gutter
        h2 Ví
          span deo
          | s
          img(src="img/videos-icone.png", alt="")
        .responsive
          .card-video
            label.flex.flex-center.flex-middle(for="modal-video-da-semana")
              i.fa.fa-play-circle-o
              img(src="https://placeimg.com/278/250/4", alt="")
          .card-video
            label.flex.flex-center.flex-middle(for="modal-video-da-semana")
              i.fa.fa-play-circle-o
              img(src="https://placeimg.com/278/250/7", alt="")
        #videos-button.flex.flex-center
          a(href="#").btn-videos
            button.btn.btn-yellow Ver Vídeos
section#contato-wrapper
  #contato.container
    .row
      .col-5
        h3
          b Curta nossa 
          | Terramar FM
        .fb-page(data-href="https://www.facebook.com/agenciavmais/" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
          blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/agenciavmais/")
            a(href="https://www.facebook.com/agenciavmais/") Agência VMais
      .col-4
      .col-3#peca-sua-musica
        h3 Peça sua 
          b Música
        form#peca-musica(action="#")
          input(type="text", name="nome", placeholder="Nome")
          input(type="email", name="email", placeholder="Email")
          input(type="text", name="musica", placeholder="Música")
          input(type="text", name="oferecimento", placeholder="Oferecimento")
          input(type="submit", name="enviar", value="Enviar")
include templates/modal-promocao

#fb-root
script.
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js" type="text/javascript")
script(src="js/home.js" type="text/javascript")
script(src="js/modal.js" type="text/javascript")
script(src="js/menu.js" type="text/javascript")
script(src='js/jplayer/config.js')