doctype html
html(lang='pt-br').foo
  head
    meta(charset='UTF-8')
    title Rádio Terramar FM
    link(rel='stylesheet', href='css/style.css')
    meta(name='viewport', content='width=device-width; initial-scale = 1.0; \
    maximum-scale=1.0; user-scalable=no')
  body
    include templates/video-da-semana
    include templates/header
    #main-wrapper
    include templates/footer
      
  script(src='js/jquery.js')
  script(src='js/index.js')
  script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js" type="text/javascript")
  script(src='js/slick-config.js')

  script(src='js/jplayer/jquery.jplayer.min.js')
  script(src='js/jplayer/jquery.transform2d.js')
  script(src='js/jplayer/jquery.grab.js')
  script(src='js/jplayer/mod.csstransforms.min.js')
  script(src='js/jplayer/circle.player.js')
  script(src='js/jplayer/config.js')