section#pagina-noticias
  .container
    h2#titulo-interna
      b Notícias 
      | Terramar FM
    #noticias-list.row.animate.fadeIn
      .noticia
        .noticia-header
          .noticia-social-share
            a(href="#")
              span.fa-stack.fa-lg#facebook-share
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x.fa-inverse
            a(href="#")
              span.fa-stack.fa-lg#twitter-share
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
            a(href="#")
              span.fa-stack.fa-lg#gplus-share
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-google-plus.fa-stack-1x.fa-inverse
          .noticia-titulo
            h2 Resultado Promoção Aniversariante da Terramar
            .noticia-titulo-info
              | Por: 
              span#autor Charles Porto 
              | - em 
              span#data 12/02/2018 
              | - às 
              span#hora 10h31 
              span#qtd-compartilhamentos 21 
              | compartilhamentos
        .row
          .col-8
            .noticia-capa
              img(src="https://placeimg.com/640/480/1", alt="Thumb da Notícia")
            .noticia-texto
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi impedit vel? Repudiandae, ut facere, soluta ullam dicta nisi saepe alias tempore hic libero minus adipisci dignissimos perferendis. Expedita, tempora.
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi impedit vel? Repudiandae, ut facere, soluta ullam dicta nisi saepe alias tempore hic libero minus adipisci dignissimos perferendis. Expedita, tempora.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi impedit vel? Repudiandae, ut facere, soluta ullam dicta nisi saepe alias tempore hic libero minus adipisci dignissimos perferendis. Expedita, tempora.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi impedit vel? Repudiandae, ut facere, soluta ullam dicta nisi saepe alias tempore hic libero minus adipisci dignissimos perferendis. Expedita, tempora.
            .noticia-footer
              .fb-comments(data-numposts="5" data-width="500")
          .col-4
            .noticia-publicidade
              | publicidade

#fb-root
script.
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
script(src="js/menu.js")