section#pagina-noticias.animate.fadeIn
  .container
    h2#titulo-interna
      b Notícias 
      | Terramar FM
    input#current_page(type="hidden")
    input#show_per_page(type="hidden")
    #noticias-list.animate.fadeIn
      .card-noticia.animate.fadeIn#noticia-1
        .card-noticia-thumb
          img(src="https://placeimg.com/640/480/1", alt="Thumb da Notícia")
        .card-noticia-info
          a(href="#").btn-noticia
            h2 Resultado Promoção Aniversariante da Terramar
          h3 08/02/2018
          span.card-noticia-description
            | Confira quem ganhou a festa completa por conta da Terramar FM.
      .card-noticia.animate.fadeIn#noticia-2
        .card-noticia-thumb
          img(src="https://placeimg.com/640/480/1", alt="Thumb da Notícia")
        .card-noticia-info
          a(href="#").btn-noticia
            h2 Resultado Promoção Aniversariante da Terramar
          h3 08/02/2018
          span.card-noticia-description
            | Confira quem ganhou a festa completa por conta da Terramar FM.
      .card-noticia.animate.fadeIn#noticia-3
        .card-noticia-thumb
          img(src="https://placeimg.com/640/480/1", alt="Thumb da Notícia")
        .card-noticia-info
          a(href="#").btn-noticia
            h2 Resultado Promoção Aniversariante da Terramar
          h3 08/02/2018
          span.card-noticia-description
            | Confira quem ganhou a festa completa por conta da Terramar FM.
      .card-noticia.animate.fadeIn#noticia-4
        .card-noticia-thumb
          img(src="https://placeimg.com/640/480/1", alt="Thumb da Notícia")
        .card-noticia-info
          a(href="#").btn-noticia
            h2 Resultado Promoção Aniversariante da Terramar
          h3 08/02/2018
          span.card-noticia-description
            | Confira quem ganhou a festa completa por conta da Terramar FM.
      .card-noticia.animate.fadeIn#noticia-5
        .card-noticia-thumb
          img(src="https://placeimg.com/640/480/1", alt="Thumb da Notícia")
        .card-noticia-info
          a(href="#").btn-noticia
            h2 Resultado Promoção Aniversariante da Terramar
          h3 08/02/2018
          span.card-noticia-description
            | Confira quem ganhou a festa completa por conta da Terramar FM.
    #page-navigation

script(src="js/noticias.js")
script(src="js/menu.js")