section#programacao.animate.fadeIn
  .container
    h2#titulo-interna
      b Programação
      | Terramar FM
    .col-12
      .tabs-content
        ul.tab-group
          li.tab-item
            a.active(href="#" data-tab="tab1")
              span Domingo
          li.tab-item
            a(href="#" data-tab="tab2")
              span Segunda
          li.tab-item
            a(href="#" data-tab="tab3")
              span Terça
          li.tab-item
            a(href="#" data-tab="tab4")
              span Quarta
          li.tab-item
            a(href="#" data-tab="tab5")
              span Quinta
          li.tab-item
            a(href="#" data-tab="tab6")
              span Sexta
          li.tab-item
            a(href="#" data-tab="tab7")
              span Sábado
        .tab1.tabs.first-tab
          .tabela-programacao.animate.fadeIn
            .linha
              .horario-programa
                i.fa.fa-clock-o(aria-hidden="true")
                | 04:00 - 06:40
              .programa-info
                i.fa.fa-microphone(aria-hidden="true")
                b Terra Brasil 
                | com TONY CIRINO
            .linha
              .horario-programa
                i.fa.fa-clock-o(aria-hidden="true")
                | 04:00 - 06:40
              .programa-info
                i.fa.fa-microphone(aria-hidden="true")
                b Terra Brasil 
                | com TONY CIRINO
            .linha
              .horario-programa
                i.fa.fa-clock-o(aria-hidden="true")
                | 04:00 - 06:40
              .programa-info
                i.fa.fa-microphone(aria-hidden="true")
                b Terra Brasil 
                | com TONY CIRINO
            .linha
              .horario-programa
                i.fa.fa-clock-o(aria-hidden="true")
                | 04:00 - 06:40
              .programa-info
                i.fa.fa-microphone(aria-hidden="true")
                b Terra Brasil 
                | com TONY CIRINO

        .tab2.tabs(style="display: none;")
          | Programação Segunda

        .tab3.tabs(style="display: none;")
          | Programação Terça

        .tab4.tabs(style="display: none;")
          | Programação Quarta

        .tab5.tabs(style="display: none;")
          | Programação Quinta
        
        .tab6.tabs(style="display: none;")
          | Programação Sexta
        
        .tab7.tabs(style="display: none;")
          | Programação Sábado

script(src="js/tabs.js" type="text/javascript")
script(src="js/menu.js" type="text/javascript")