section#pagina-promocoes.animate.fadeIn
  .container
    h2#titulo-interna
      b Promoções
      | Terramar FM
    input#current_page(type="hidden")
    input#show_per_page(type="hidden")
    #promocoes.row
      .col-4.animate.fadeIn
        label.card-promocao(for="modal-promocao")
          img(src="img/promo-thumb.png", alt="")
          .card-promocao-title
            h3 Luan Santana na Terramar FM
      .col-4.animate.fadeIn.delay
        label.card-promocao(for="modal-promocao")
          img(src="img/promo-thumb.png", alt="")
          .card-promocao-title
            h3 Luan Santana na Terramar FM
      .col-4.animate.fadeIn.delay-2x
        label.card-promocao(for="modal-promocao")
          img(src="img/promo-thumb.png", alt="")
          .card-promocao-title
            h3 Luan Santana na Terramar FM
      .col-4.animate.fadeIn
        label.card-promocao(for="modal-promocao")
          img(src="img/promo-thumb.png", alt="")
          .card-promocao-title
            h3 Luan Santana na Terramar FM
      .col-4.animate.fadeIn.delay
        label.card-promocao(for="modal-promocao")
          img(src="img/promo-thumb.png", alt="")
          .card-promocao-title
            h3 Luan Santana na Terramar FM
      .col-4.animate.fadeIn.delay-2x
        label.card-promocao(for="modal-promocao")
          img(src="img/promo-thumb.png", alt="")
          .card-promocao-title
            h3 Luan Santana na Terramar FM
    #page-navigation
    script(src="js/modal.js" type="text/javascript")
include templates/modal-promocao
script(src="js/promocoes.js")
script(src="js/menu.js" type="text/javascript")