section#pagina-videos.animate.fadeIn
  .container
    h2#titulo-interna
      b Vídeos
      | Terramar FM
    input#current_page(type="hidden")
    input#show_per_page(type="hidden")
    #lista-de-videos.row
      .col-4
        .card-video.animate.fadeIn
          label.flex.flex-center.flex-middle(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
            img(src="img/video-thumb.png", alt="")
      .col-4
        .card-video.animate.fadeIn.delay
          label.flex.flex-center.flex-middle(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
            img(src="img/video-thumb.png", alt="")
      .col-4
        .card-video.animate.fadeIn.delay-2x
          label.flex.flex-center.flex-middle(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
            img(src="img/video-thumb.png", alt="")
      .col-4
        .card-video.animate.fadeIn
          label.flex.flex-center.flex-middle(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
            img(src="img/video-thumb.png", alt="")
      .col-4
        .card-video.animate.fadeIn.delay
          label.flex.flex-center.flex-middle(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
            img(src="img/video-thumb.png", alt="")
      .col-4
        .card-video.animate.fadeIn.delay-2x
          label.flex.flex-center.flex-middle(for="modal-video-da-semana")
            i.fa.fa-play-circle-o
            img(src="img/video-thumb.png", alt="")
    #page-navigation

script(src="js/videos.js")
script(src="js/menu.js" type="text/javascript")