.item {
	background-color: $bg-dark;
	color: $text-white;
	padding: 10px;
	
	@media (max-width: $tablet) {
		margin: 5px;
	}
}

.container {
	width: 85vw;
	margin: 0 auto;
	max-width: 1200px;
}

.row {
	display: flex;
	margin: 10px 0;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.grid-header {
  grid-area: header;
}

.grid-main {
  grid-area: main;
}

.grid-side-left {
  grid-area: side-left;
}

.grid-side-right {
  grid-area: side-right;
}

.grid-footer {
  grid-area: footer;
}

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      -ms-flex-positive: 1;
          flex-basis: 0;
          flex-grow: 1;
}

.gutter {
	padding-left: 10px;
	padding-right: 10px;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.no-gutter {
	padding: 0!important;
}

@media (min-width: $tablet + 1) {

	@for $i from 1 through $total-col {

		.col-#{$i} {
			padding-left: 5px;
			padding-right: 5px;
  		max-width: percentage($i/$total-col);
	  	-webkit-box-flex: 0;
	  	-webkit-flex: 0 0 percentage($i/$total-col);
	      	-ms-flex: 0 0 percentage($i/$total-col);
							flex: 0 0 percentage($i/$total-col);
							
			&:first-child {
  			padding-left: 0;
  		}

  		&:last-child {
  			padding-right: 0;
			}
			
			@if $i <= 2 {
  			padding-left: 5px;
  			padding-right: 5px;
			} 
		}
	}

}