/*
 * Project: CirclePlayer
 * http://www.jplayer.org
 *
 * Copyright (c) 2012 Happyworm Ltd
 *
 * Author: Silvia Benvenuti
 * Edited by: Mark J Panaghiston
 * Date: 2nd October 2012
 * Artwork inspired by: http://forrst.com/posts/Untitled-CJz
 */

.cp-container {
	position:relative;
	width:104px;
	height:104px;
	background:none;
	padding:28px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	&:focus {
		border:none;
		outline:0;
	}
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
	position:absolute;
	top:0;
	left:0;
	width:104px;
	height:104px;
	clip:rect(0px,52px,104px,0px);
	border-radius:52px;
}

.cp-buffer-1,
.cp-buffer-2 {
	// background:url(../img/jplayer/buffer.png) 0 0 no-repeat;
}


.cp-container .cp-fallback {
	// background:url(../img/jplayer/progress_sprite.jpg) no-repeat;
	background-position:0 104px; 
}

.cp-progress-1,
.cp-progress-2 {
	// background:url(../img/jplayer/progress.png) 0 0 no-repeat;
}

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
	position:absolute;
	width:104px;
	height:104px;
} 

.cp-circle-control {
	cursor:pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
	clip:rect(0px,104px,104px,52px);
	display:none;
}

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback{
	clip:rect(auto, auto, auto, auto);
}

.cp-controls {
	margin:0;
}

.cp-controls li{
	list-style-type:none;
	display:block;
	position:absolute;
}

.cp-controls li a{
	position:relative;
	display:block;
	width:50px;
	height:50px;
	z-index:1;
	cursor:pointer;
}

.cp-controls .cp-play {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	&:before {
		content: "\f01d";
		color: #1472a7;
		display: block;
		font-size: 60px;
    margin-top: -6px;
	}
}

.cp-controls .cp-pause {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	&:before {
		content: "\f28c";
		color: #1472a7;
		display: block;
		font-size: 60px;
    margin-top: -6px;
	}
}

.cp-jplayer {
	width:0;
	height:0;
}
