label[for^="modal"] {
  cursor: pointer;
}

.modal {
  .btn-close {
    color: $red; 
    cursor: pointer; 
    font-size: 3rem;
    line-height: 2.7rem;
    text-decoration: none; 
    transition: all .2s;

    &:hover,
    &:focus {
      color: darken($red, 20%);
    }

    @media (max-width:480px) {
      align-self: flex-end;
    }
  }

      
} 

.modal-wrap {
  &:before {
    background: rgba($color: #000000, $alpha: 0.6);
    bottom: 0;
    content: ''; 
    display:none;
    left: 0;
    position:fixed;
    right: 0;
    top: 0;
    z-index: 101;
  }
}
    

// Modal Overlay
// -------------------------------------------------- 

.modal-overlay { 
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
}
 

// Modal Open
// -------------------------------------------------- 

.modal-open:checked ~ .modal-wrap {
  &:before,
  & .modal-overlay {
    display: block;
  }

  .modal-dialog { 
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;

    @media (max-width:480px) {
      overflow-y: scroll;
      max-height: 100vh;
    }
  }
}
 

// Modal Dialog
// -------------------------------------------------- 

.modal-dialog { 
  background: #fefefe; 
  left: 50%; 
  max-width: 600px; 
  position: fixed; 
  top: -100%; 
  transform: translate(-50%,-150%); 
  transition: .6s ease-in-out;
  width: 80%; 
  z-index: 103;

  @media (max-width:480px) {
    width: 100%;
  }
}

.modal-body { 
  padding: 10px 20px;

  p { 
    margin: 0;
  }
}   

.modal-header,
.modal-footer { 
  padding: 20px;
}
 

.modal-header{  
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
    
  a {
    text-decoration: none;
  }

  h2 { 
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 5px;
  }

  h4 {
    display: inline-block;
    line-height: 10px;
    margin-left: 10px;
  }

  .author-profile {
    margin-right: 20px;
  }

  .interaction-infos {
    display: flex;

    span {
      align-items: center;
      display: flex;

      strong {
        margin-right: 5px;
      }

      &:first-child {
        margin-right: 20px;
      }
    }

    i {
      margin-right: 10px;
    }
  }

  @media (max-width:480px) {
    flex-flow: column-reverse;
    .author-profile {
      display: none
    }
  }
}
 
.modal-footer {
  align-items: center; 
  display: flex;
  justify-content: space-between;
}

// Modal Promoção
// -------------------------------------------------- 

.modal-promocao {
  .modal-dialog {
    background: url(../img/modal-bg.jpg);
    height: 81vh;
    overflow-x: auto;
    width: 60vw;

    .modal-body {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      width: 80%;

      img {
        max-width: 800px;
      }

      &-thumb {
        margin: 30px 0;
      }

      form {
        width: 100%;

        input[type="email"],
        input[type="text"],
        input[type="tel"],
        textarea {
          background: transparent;
          border: 2px solid $pink;
          box-shadow: none;
          color: $pink;
          margin: 15px 0;
          
          &::-webkit-input-placeholder {
            color: $pink;
          }
  
          &::-moz-placeholder {
            color: $pink;
          }
  
          &:-ms-input-placeholder {
            color: $pink;
          }
  
          &:-moz-placeholder {
            color: $pink;
          }
        }

      }
    }
  }

  .modal-header {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      color: $blue;
    }

    h4 {
      font-size: 1rem;
      font-weight: 300;
      color: rgba($color: #000000, $alpha: 0.4)
    }
  }

  .btn-close {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  iframe {
    min-height: 300px;
  }
}

.modal-video {
  background: $yellow;

  .modal-header {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      color: $blue;
    }

    h4 {
      font-size: 1rem;
      font-weight: 300;
      color: rgba($color: #000000, $alpha: 0.4)
    }
  }

  .btn-close {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  iframe {
    min-height: 300px;
  }
}