.navbar {
	align-items: center;
	display: flex;
	flex-direction: row;
	z-index: 6;

	h3 {
		color: #fff;
		height: 30px;
		margin-left: 10px;
	}
}

.navbar li,
.nav-menu ul,
.drawer-menu li {
	display: inline;
	list-style: none;
}

.brand {
	font-size: 2em;
	font-family: "Montserrat";
	font-weight: 300;
	display: inline;
}

.drawer {
	width: 50px;
	height: 50px;
	background-image: none;
	background-color: transparent;
	border: none;
	padding: 0;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	-webkit-tap-highlight-color: transparent;
	display: block;
	z-index: 12;

	& .icon-bar {
		background-color: #fff;
		display: block;
		height: 8px;
		margin-top: 6px;
		margin-left: auto;
		margin-right: auto;
		width: 50px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.drawer-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	text-align: right;
	top: 60px;
	z-index: 11;
	
	button.drawer  {
		align-self: flex-end;
    right: 50px;
    top: 50px;
		position: absolute;
	}
	
	& a {
		color: white;
		background: $blue;
		padding: 8px;
		margin: 2px;
		transition: all .1s ease-in-out;
			
		&:hover {
			background: #1b1f27;
		}

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation-delay: $i*(.13s);
			}
		}
	}
}

.hide-drawer {
	display:none!important;
}

#submenu {
	background: $blue;
	display: none;
	position: absolute;
	margin-top: 8px;
	margin-left: 370px;

	li {
		display: block;

		a {
			color: white;
		}
	}
}

#submenu-trigger:checked ~ #submenu {
	display: block!important;
}

#trigger-menu {
	color: #003d80;
	position: absolute;
	top: 40px;
	z-index: 9;

	h3 {
		margin-right: 10px;
	}

	.container {
		align-items: center;
		display: flex;
    justify-content: flex-end;
		margin-left: -70px;
		
		@media (max-width: $tablet) {
			margin-left: 0;
			justify-content: center;
		}
	}
	
	.icon-bar {
		background: $blue;
	}

	@media (max-width: $tablet) {
		position: relative;
		top: 0;
	}
}

#trigger-link {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.trigger-drawer {
	cursor: pointer;
}