#player-wrapper {
  background: $blue;
  display: none;
  margin-top: -130px;
  position: relative;
  z-index: 5;
  width: 100%;
  transition: all .2s;
}

#cp_container_6 {
  margin-left: -23px;
}

#play {
  width: 60px;
}

#player {
  align-items: center;
  color: #1472a7;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  height: 90px;
  justify-content: space-evenly;

  #qtd {
    margin-left: 9px;
  }

  #ouvintes {
    h3 {
      font-size: 20px;
    }

    .icon-bar {
      height: 5px;
      width: 40px;
    }
  }

  #controls {
    align-items: center;
    display: flex;

    i {
      cursor: pointer;
      font-size: 28px;
      padding: 8px;
    }
  }
  
  #locutora, {
    color: #52aee4;

    @media (max-width: $tablet) {
			display: none;
		}
  }

  #foto-perfil {
    align-self: flex-end;

    @media (max-width: $tablet) {
			display: none;
		}
  }

  #horario {
    text-transform: uppercase;

    h4 {
      font-size: 16px;
      font-weight: 400;
      text-align: right;
    }

    h3 {
      color: #52aee4;
      font-size: 24px;
      font-weight: 900;
    }

    @media (max-width: $tablet) {
			display: none;
		}
  }
}

#btn-close-player {
  align-self: flex-start;
  background: $red;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 23px;
  margin-top: -30px;
  padding: 14px;
}

// Player Open

.player-open:checked ~ #player-wrapper {
  display: block;

  #player-dialog { 
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;

    @media (max-width:480px) {
      overflow-y: scroll;
      max-height: 100vh;
    }
  }
}