@media (max-width: $mobile) {

	h1 {
		font-size: 2.8rem;
	}

	.img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
	}

	.tab-item span {
		display: none;
	}

	.modal-dialog {
		height: 100vh;
		padding: 20px;
		width: 100vw;
	}

}

@media (max-width: $tablet) {
	html {
		font-size: 18px;
	}

	body {
		overflow-x: hidden;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	aside {
		margin: 20px auto;
	}

	.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	.img-center-resize {
    width: 50%;
    margin: 0 auto;
    display: block;
	}

	.center-on-mobile {
		margin-right: auto!important;
		margin-left: auto!important;
		justify-content: center;
	}

	.row {
	    flex-flow: column;
	}

	.gutter {
		padding-left: 0;
		padding-right: 0;
	}

	.modal-dialog {
		overflow-y: scroll;
	}

}
