.tab-group {
  align-items: center;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  color: $light-green;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 30px;

  .tab-item {
    border-right: 1px solid $light-green;
    list-style: none;
    text-align: center;
    width: 25%;
    
    a {
      align-items: center;
      display: flex;
      color: $light-green;
      flex-direction: column;
      justify-content: center;
      padding: 10px;

      &.active {
        background: $light-green;
        color: $white;
      }
    }

    i {
      display: block;
      font-size: 20px;
    }

    span {
      font-size: .9rem;
    }

    &:last-child {
      border: none;
    }
  }

}