@import "fonts";

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
	font-size: 1.1rem;
}

p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

em {
    background-color: #efefef;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 3px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 1.5rem;
}

.uppercase {
	text-transform: uppercase;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.orange {
  color: $orange;
}

.emerald {
  color: $emerald;
}

.yellow {
  color: $yellow;
}

.amethyst {
  color: $amethyst;
}